[Desktop Entry]
Type=Application
Version=1.0
Name=FinFaktura
Name[nb]=Fryktelig Fin Faktura
Name[nn]=Fryktelig Fin Faktura
GenericName=Fakturaprogram for norske forhold
GenericName[nb]=Fakturaprogram for norske forhold
Exec=faktura
Icon=finfaktura
Terminal=false
Categories=Qt;Office;Finance;

